<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="page-header"><h2>회원가입이당</h2></div>
    <form id="axiosJson" >
        <div class="form-group">
            이름 : <input type="text" class ="form-control" id="name" name="name" size="5" maxlength="10">
        </div>
        <div class="form-group">
            email : <input type="email" class ="form-control" id="email" name="email" size="5" maxlength="30">
        </div>
        <div id="grades">
            <h5>score</h5>
            <div id="grade" class="grade">
                수업명 : <input type="text" class="form-control className" id="className" name="className" size="5" maxlength="10"><br>
                점수 :  <input type="number" class ="form-control point" id="point" name="point" size="5" maxlength="10">
            </div>
        </div>
        <button type="button" onclick="addGrade()" class="btn btn-secondary">성적추가</button><br>
        <button type="submit" class="btn btn-primary">제출</button>
    </form>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function addGrade(){
        const gradeDiv = document.getElementById('grades');
        gradeDiv.innerHTML += `
            <div class="grade">
                수업명 : <input type="text" class ="form-control className" name="className" size="5" maxlength="10"><br>
                점수 :  <input type="number" class ="form-control point"  name="point" size="5" maxlength="10">
            </div>
        `;
    }

    document.getElementById("axiosJson").addEventListener("submit",
      async function(event){
        event.preventDefault();
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        let grades = [];
        const gradeDivs = document.getElementsByClassName('grade');
        for(let i = 0; i<gradeDivs.length;i++){
            const className = gradeDivs[i].getElementsByClassName('className')[0].value;
            const point = gradeDivs[i].getElementsByClassName('point')[0].value;
            const gradeObj = {className, point};
            grades.push(gradeObj);
        }
        console.log(grades);
        try{
          const reponse = await axios.post('http://localhost:8080/hello/axios-nested-json-view', {name:name, email:email, grades:grades}); // ok는 여기로 들어와용
          console.log(reponse.data);
        }catch(e){
          console.log(e.message);
        }
      }
    )
</script>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    &lt;!&ndash;    <meta name="viewport" content="width=device-width, initial-scale=1.0" />&ndash;&gt;-->
<!--    <title>회원가입</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>-->
<!--    <script>-->
<!--        let count =1;-->
<!--        function addSubject() {-->
<!--            let myTarget = document.getElementById("target");-->
<!--            myTarget.innerHTML += "수업명 : <input type=\"text\"" + "class =\"form-control\" id=\"subject" + count + "\" name=\"subject" + count + "\" size=\"5\" maxlength=\"10\">+ ><br>"-->
<!--            + "점수 : <input type=\"number\"" + "class =\"form-control\" id=\"score" + count + "\" name=\"score" + count + "\" size=\"5\" maxlength=\"10\">+ ><br>";-->
<!--            count +=1;-->
<!--        }-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="page-header"><h2>회원가입이당</h2></div>-->
<!--    <form id="axiosJson" >-->
<!--        <div class="form-group">-->
<!--            이름 : <input type="text" class ="form-control" id="name" name="name" size="5" maxlength="10">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            email : <input type="email" class ="form-control" id="email" name="email" size="5" maxlength="30">-->
<!--        </div>-->
<!--        <div id="target" class="form-group">-->
<!--            <h5>score</h5>-->
<!--            수업명 : <input type="text" class ="form-control" id="subject0" name="subject0" size="5" maxlength="10">-->
<!--            점수 :  <input type="number" class ="form-control" id="score0" name="score0" size="5" maxlength="10">-->
<!--            <button onclick="addSubject()" class="btn btn-secondary">성적추가</button>-->
<!--        </div>-->

<!--        <button type="submit" class="btn btn-primary">제출</button>-->
<!--    </form>-->
<!--</div>-->

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--<script>-->
<!--    document.getElementById("axiosJson").addEventListener("submit",-->
<!--      async function(event){-->
<!--        event.preventDefault();-->
<!--        const name = document.getElementById("name").value;-->
<!--        const email = document.getElementById("email").value;-->
<!--        const password = document.getElementById("password").value;-->
<!--        const postJson = {name:name,email:email,password:password};-->
<!--        try{-->
<!--          const reponse = await axios.post('http://localhost:8080/hello/axios-nested-json-view', postJson); // ok는 여기로 들어와용-->
<!--          console.log(reponse.data);-->
<!--        }catch(e){-->
<!--          console.log(e.message);-->
<!--        }-->
<!--      }-->
<!--    )-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
