<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="page-header"><h2>회원가입이당</h2></div>
    <form id="axiosForm" >
        <div class="form-group">
            이름 : <input type="text" class ="form-control" id="name" name="name" size="5" maxlength="10"> <!---->
        </div>
        <div class="form-group">
            email : <input type="email" class ="form-control" id="email" name="email" size="" maxlength="30">
        </div>
        <div class="form-group">
            password : <input type="password" class ="form-control" id="password" name="password" size="5" maxlength="20">
        </div>
        <div class="form-group">
            신분증 : <input type="file" class ="form-control" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-secondary">제출</button>
    </form>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.getElementById("axiosForm").addEventListener("submit",
      async function(event){
        event.preventDefault();
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const hello = {name:name, email:email, password:password};
        const helloJson = JSON.stringify(hello);
        const fileInput = document.getElementById("file");
        const file = fileInput.files[0]; // file은 배열 형태로 get (기본룰일거야)
        const formData = new FormData();
<!--        formData.append('hello', helloJson);--> // json형태의 문자열
<!--        블롭함수는 데이터형을 지정/변환할때 사용-->
        formData.append('hello', new Blob([helloJson], {type:"application/json"}) )  // 이건 제이슨이다 라고 타입을 지정해요...?
        formData.append('file', file);
        try{
          const reponse = await axios.post('http://localhost:8080/hello/axios-json-file-view', formData,  {headers : {'Content-Type': 'multipart/form-data'}}); // ok는 여기로 들어와용
          console.log(reponse.data);
        }catch(e){
          console.log(e.message);
        }
      }
    )
</script>
</body>
</html>
