
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <title>회원가입</title>
</head>
<body>
<h1>helloWorld1</h1>
<div>
    <form action="/hello/form-file-post" method="post" enctype="multipart/form-data">
        이름 : <input type="text" name="name"><br>
        email : <input type="text" name="email"><br>
        password : <input type="text" name="password"><br>
        신분증 : <input type="file" name="photo"><br>
        <input type="submit" value="제출">
    </form>
</div>
</body>
</html>